.ipynb_checkpoints
.venv
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/
.DS_Store
/app/datasets
/app/models/*.pth

datasets/
datasets
experiments
models
plots
artifacts
Notebook_materia

*.cfg
*.toml

/Clases_Practicas/
/Salidas_Experimentos/