.ipynb_checkpoints
.venv
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/
.DS_Store
/app/datasets
/app/models/*.pth
*.pth

datasets/
datasets
experiments/
models
plots
artifacts
Notebook_materia

*.cfg
*.toml

/Clases_Practicas/
/Salidas_Experimentos/
/Resultados/
/experiments/

/controller_reward_curve.png
/nas_search_20251202_075504.log
/Graficos.ipynb