.venv
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/
.DS_Store
/app/datasets
/app/models/*.pth
*.pth
*.onnx

datasets/
datasets

# NAS outputs

*.cfg
*.toml
/experiments/
/Salidas_Experimentos/

